.main-container {
  height: 100vh;
  overflow: hidden;
  background: var(--bg);
}
body {
  overflow: hidden;
}
.category-wrapper .rule-wrapper li:hover {
  background-color: rgba(100, 78, 2, 0.3);
}
.category-wrapper .rule-wrapper li input:hover {
  cursor: pointer;
}
.timer-wrapper {
  width: 75px;
  height: 75px;
}
.rule-btn-wrapper .rule-btn {
  margin-bottom: 0;
  background: transparent;
}
.main-container .header {
  position: fixed;
}
.main-container .page {
  position: relative;
  top: 120px;
}
