<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="../questions/questions.css">
    <link rel="stylesheet" href="../utils/timer/timer.css">

    <title>JSMonk Quizz website - Questions</title>
    <script src="../../js/index.js" defer></script>
    <script src="../utils/timer/timer.js" defer></script>
    <script src="../questions/questions.js" defer></script>
</head>

<body>
    <div id="question1" class="main-container">
        <!-- Header  -->
        <div class="header mb-5">
            <div class="header-logo-wrapper px-5 py-2">
                <div class="logo">
                    <span class="logo-title">jsmonk-quizz</span>
                    <span class="logo-subtitle">Best quiz website</span>
                </div>
            </div>
            <div class="header-menu-wrapper">
                <div class="center-menus"></div>
                <div class="right-menus">
                    <div class="timer-wrapper">
                        <div id="timer"></div>
                    </div>
                    <a class="menu-icon" href="/index.html"><i class="bi bi-house-door"></i>Home</a>
                </div>
            </div>
        </div>

        <!-- Questions -->
        <div class="page">
            <section class="content">
                <div class="title-wrapper">
                    <h3>1. Kazakhstan is a part of which of the following continental confederations recognized by FIFA?
                    </h3>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper">
                        <li class="rule"><span><input type="radio" name="question1" id="q11"></span>Asian Football
                            Confederation</li>
                        <li class="rule"><span><input type="radio" name="question1" id="q12"></span>Confederation
                            Africaine de Football</li>
                        <li class="rule"><span><input type="radio" name="question1" id="q13"></span>Union of European
                            Football Associations</li>
                        <li class="rule"><span><input type="radio" name="question1" id="q14"></span>None of them</li>
                    </ul>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper rule-btn-wrapper">
                        <li class=""><button id="question2" class="rule rule-btn" onclick="onTimesUp()">Submit</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div id="question2" class="main-container">

        <div class="page">
            <section class="content">
                <div class="title-wrapper">
                    <h3>2. Who among the following have contributed to the Olympic theme music?
                    </h3>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper">
                        <li class="rule"><span><input type="radio" name="question2" id="q21"></span>Mark Watters</li>
                        <li class="rule"><span><input type="radio" name="question2" id="q22"></span>John Williams</li>
                        <li class="rule"><span><input type="radio" name="question2" id="q23"></span>Henry Mancini</li>
                        <li class="rule"><span><input type="radio" name="question2" id="q24"></span>All of the above
                        </li>
                    </ul>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper rule-btn-wrapper">
                        <li class=""><button id="question3" class="rule rule-btn" onclick="onTimesUp()">Submit</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div id="question3" class="main-container">

        <div class="page">
            <section class="content">
                <div class="title-wrapper">
                    <h3>3. Where were the UCI Track Cycling World Championships first held?
                    </h3>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper">
                        <li class="rule"><span><input type="radio" name="question3" id="q31"></span>Chicago</li>
                        <li class="rule"><span><input type="radio" name="question3" id="q32"></span>New York</li>
                        <li class="rule"><span><input type="radio" name="question3" id="q33"></span>California</li>
                        <li class="rule"><span><input type="radio" name="question3" id="q34"></span>Florida</li>
                    </ul>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper rule-btn-wrapper">
                        <li class=""><button id="question4" class="rule rule-btn" onclick="onTimesUp()">Submit</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div id="question4" class="main-container">
        <div class="page">
            <section class="content">
                <div class="title-wrapper">
                    <h3>4. Who was the first winner of UCI Cyclo-cross World Cup championships?
                    </h3>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper">
                        <li class="rule"><span><input type="radio" name="question4" id="q41"></span>Sven Nys</li>
                        <li class="rule"><span><input type="radio" name="question4" id="q42"></span>Paul Herygers</li>
                        <li class="rule"><span><input type="radio" name="question4" id="q43"></span>Mathieu Poel</li>
                        <li class="rule"><span><input type="radio" name="question4" id="q44"></span>None of them</li>
                    </ul>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper rule-btn-wrapper">
                        <li class=""><button id="question5" class="rule rule-btn" onclick="onTimesUp()">Submit</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div id="question5" class="main-container">

        <div class="page">
            <section class="content">
                <div class="title-wrapper">
                    <h3>5. Which nation topped the medal tally in the IAAF World Indoor Championships 2018?
                    </h3>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper">
                        <li class="rule"><span><input type="radio" name="question5" id="q51"></span>China</li>
                        <li class="rule"><span><input type="radio" name="question5" id="q52"></span>US</li>
                        <li class="rule"><span><input type="radio" name="question5" id="q53"></span>Russia</li>
                        <li class="rule"><span><input type="radio" name="question5" id="q54"></span>Jamaica</li>
                    </ul>
                </div>
                <div class="category-wrapper my-5">
                    <ul class="rule-wrapper rule-btn-wrapper">
                        <li class=""><a href="../result/result.html" class="rule rule-btn"
                                onclick="onTimesUp()">Submit</a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</body>

</html>